.introduce {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: black;
  padding: 2rem 10%;
  color: #d4cdbb;
}

.introduce-job {
  width: 100%;
  font-size: 1.5rem;
}

.introduce-who {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
}

.introduce-who span {
  font-weight: 800;
  margin: 0.5rem 0;
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  .introduce {
    padding: 2rem 5%;
  }

  .introduce-who {
    font-size: 3rem;
  }
}
